#pageheader{
	height: 15px;
}

.lsidebar{
	margin-top: 20px;
	border-right: 1px solid #989898;
	height: 85%;
}

.lsidebar button{
	width: 140px;
}

.rsidebar{
	margin-top: 20px;
	border-left: 1px solid #989898;
	height: 85%;
}

.nav-sidebar{
    margin-right: 1px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

#desc{
	visibility: visible;
}

#canvas1{
	background-color: lightgrey;
	height: 85%;
}

#canvasprop{
	visibility: hidden;
}

#imageprop{
	visibility: hidden;
}

#textprop{
	visibility: hidden;
}

#chartprop{
	visibility: hidden;
}




