body {
  font: 10px sans-serif;
}
		.bar{fill:green}

		.bar:hover{fill:yellow}

		.title{font:bold 14px "Helvetica Neue",Helvetica,Arial,sans-serif}

		.axis{font:10px sans-serif}.axis path,.axis line{fill:none;stroke:#000;shape-rendering:crispEdges}.x.axis path{display:none}.wrapper{text-align:center}

		.d3-tip {
			line-height: 1;
			font-weight: bold;
			padding: 12px;
			background: rgba(0, 0, 0, 0.8);
			color: #fff;
			z-index: 2;
			border-radius: 2px;
		}		
		/* Creates a small triangle extender for the tooltip */
		.d3-tip:after {
			display: inline;
			font-size: 10px;
			width: 100%;
			line-height: 1;
			color: rgba(0, 0, 0, 0.8);
			content: "\25BC";
			position: absolute;
			text-align: center;
		}
/* Style northward tooltips differently */
		.d3-tip.n:after {
			margin: -1px 0 0 0;
			top: 100%;
			left: 0;
		} 

